html,

    body {
      position: relative;
      height: 100%;
      color: black;
    }

    body {
      background: #ffffff;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    swiper-container {
      width: 100%;
      height: 50%;
      
      
    }

    swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 30px;
      box-shadow: 0px 0px 15px #010101
      

    }

    swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      
      
    }

    swiper-slide {
      width: 60%;
      height: 350px;
      
    }
    
    footer {
      background-color: #333;
      color: #fff;
      padding: 20px;
  }
  
  .footer-sitemap {
      display: flex;
      justify-content: space-between;
  }
  
  .sitemap-section {
      flex: 1;
      margin-right: 20px;
  }
  
  h3 {
      font-size: 18px;
  }
  
  ul {
      list-style: none;
      padding: 0;
  }
  
  li {
      margin-bottom: 8px;
  }
  
  a {
      text-decoration: none;
      color: #fff;
  }
  
  .footer-info {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
  }
  
  .connect {
      flex: 1;
      margin-right: 20px;
  }
  
  .contact-info {
      flex: 1;
  }

.bgimage {
  
  height:100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.532),rgba(0, 0, 0, 0.707)), url('bg/bakso2.png');
  background-attachment:fixed ;
  background-size:cover;
  position: relative;
  
}
.hero_title {
  font-size: 4.5rem;
}
.hero_desc {
  font-size: 2rem;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.responsive-maps{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

.responsive-maps iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  
  margin-top: 10px;
}



:root {
  --background-clr: rgb(0, 0, 0);
  --text-clr: #ffffff;
}

*, *::before, *::after {
  box-sizing: border-box;
}



a {
  text-decoration: none;
  color: var(--text-clr);
}

header {
  position: fixed;
  background: var(--background-clr);
  font-family: 'Poppins', sans-serif;
  z-index: 999;
  text-align: center;
  width: 100%;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: rgb(255, 255, 255);
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}
.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background-clr);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;  
}
nav a {
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
nav a:hover {
  color: #ffffff;
  
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }
  
  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 4fr) 1fr;
  }
  
  .logo {
    grid-column: 2 / 3;
  }
  
  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav ul {
    display: flex;
/*     border: 1px solid red; */
  }
  
  nav li {
    margin-left: 2.5em;
    margin-bottom: 0;
  }
  
  nav a {
    opacity: 1;
    position: relative;
  }
  
  nav a::before {
    content:'';
    display: block;
    height: 4px;
    background: rgb(255, 255, 255);
    position: absolute;
    top: -.38em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
/*     transform-origin: left; */
    transition: transform ease-in-out 250ms;
  }
  nav a:hover::before {
    transform: scale(1,1);
  }
  
}
.makanan{

transition: transform 0.3s ease;
}



.makanan:hover {
transform: translateY(-20px);

}

